<% layout('./_base.html', {
  title: `${it.talk.name} | ${include("brand-name")}`,
  meta: includeFile('./talk_meta.html', { talk: it.talk })
}) %>

<% if (it.isAdmin) { %>
  <p style="text-align: right;">
    <a data-testid="questions-link" href="/talk/<%= it.talk.slug %>/questions">
      <b>Questions >></b>
    </a>|
    <a data-testid="ratings-link" href="/talk/<%= it.talk.slug %>/ratings">
      <b>Ratings >></b>
    </a>
  </p>
<% } %>

<div class="x-talk">

  <% if (it.questionSent) { %>
    <div class="x-talk-notification">
      <%~ includeFile('./icons/check.svg') %>
      <span>¡Gracias por tu pregunta!</span>
    </div>
  <% } %>

  <% if (it.existingRating) { %>
    <div class="x-talk-notification">
      <%~ includeFile('./icons/check.svg') %>
      <span>¡Gracias por tu feedback!</span>
    </div>
  <% } %>

  <section class="x-talk-section is-boxed">
    <h1 class="x-talk-title"><%= it.talk.name %></h1>
    <div class="x-talk-info">
      <span class="x-talk-info-track">
        <%= it.talk.track %>
      </span>
      <span class="x-talk-info-when">
        <%= `${it.talk.date.getUTCHours()}:${it.talk.date.getUTCMinutes().toString().padEnd(2,'0')}` %>
      </span>
    </div>
    <div class="x-talk-description">
      <%~ it.talk.description %>
    </div>
  </section>

  <section class="x-talk-section x-talk-speaker">
    <% if (it.talk.speaker_image) { %>
      <% const style = `style="background-image: url(${it.talk.speaker_image});"`; %>
      <div class="x-talk-speaker-image" <%~ style %>></div>
    <% } %>
    <div class="x-talk-speaker-info">
      <span class="x-talk-speaker-info-name"><%= it.talk.speaker_name %></span>
      <span class="x-talk-speaker-info-title"><%= it.talk.speaker_title %></span>
    </div>
  </section>

  <section class="x-talk-section is-boxed">
    <h2 class="x-talk-section-title">Haz una pregunta</h2>
    <form action="/talk/<%= it.talk.slug %>/question" method="POST" enctype="multipart/form-data">
      <textarea class="x-talk-textarea" name="question" maxlength="600" placeholder="¿Qué quieres preguntar?"></textarea>
      <input class="x-talk-button" type="submit" value="Enviar">
    </form>
  </section>

  <% if (!it.existingRating) { %>
    <section class="x-talk-section is-boxed">
      <h2 class="x-talk-section-title">Valora la charla</h2>
      <form action="/talk/<%= it.talk.slug %>/rating" method="POST" enctype="multipart/form-data">
        <div class="x-stars">
          <% const maxStars = 5 %>
          <% for(let i = 1; i <= maxStars; i++) { %>
            <label for="star-<%= i %>"><%~ includeFile('./icons/star.svg') %></label>
            <input id="star-<%= i %>" type="radio" name="rating" value="<%= i %>" <% if (i === Math.ceil(maxStars / 2)) { %> checked="checked" <% } %>>
          <% } %>
        </div>
        <textarea class="x-talk-textarea" name="comment" maxlength="600" placeholder="Deja un comentario... si lo ves oportuno :)"></textarea>
        <input class="x-talk-button" type="submit" value="Enviar">
      </form>
    </section>
  <% } %>

</div>
