<% layout('./_base.html', {
  title: `Questions | ${it.talk.name} | ${include("brand-name")}`
}) %>

<div class="x-talk">

  <section class="x-talk-section is-boxed">
    <h1 class="x-talk-title"><%= it.talk.name %></h1>
    <div class="x-talk-info">
      <span class="x-talk-info-track">
        <%= it.talk.track %>
      </span>
      <span class="x-talk-info-when">
        <%= `${it.talk.date.getUTCHours()}:${it.talk.date.getUTCMinutes().toString().padStart(2,'0')}` %>
      </span>
    </div>
  </section>

  <section class="x-talk-section is-boxed">
    <h2 class="x-talk-section-title">
      Preguntas recibidas
    </h2>

    <form class="x-talk-question-filter">
      <label for="see_fav_only">Mostrar solo favoritos</label>
      <input type="checkbox" id="see_fav_only" onchange="checkboxChangeHandler()">
    </form>

    <div class="x-talk-question-list">

      <% for(const question of it.questions) { %>
        <div class="x-talk-question-list-item" data-question-id="<%= question.id %>">
          <p><%= question.question %></p>
          <div class="x-talk-question-list-item-actions">
            <button class="x-talk-question-list-item-actions-fav" type="button" data-question-id="<%= question.id %>" onclick="setFav(this, true)">
              <%~ includeFile('./icons/star.svg') %>
            </button>
            <button class="x-talk-question-list-item-actions-unfav" type="button" data-question-id="<%= question.id %>" onclick="setFav(this, false)">
              <%~ includeFile('./icons/star.svg') %>
            </button>
          </div>
        </div>
      <% } %>

    </div>

  </section>

</div>

<script type="text/javascript">

  const seeFavOnlyCheckbox = document.getElementById("see_fav_only");
  const questionListDiv = document.querySelector(".x-talk-question-list");

  const storedState = localStorage.getItem("fav_state");
  const state = storedState ? JSON.parse(storedState) : {
    seeFavOnly: false,
    favs: []
  }

  function render() {
    seeFavOnlyCheckbox.checked = state.seeFavOnly;

    questionListDiv.classList.toggle("is-fav-only", state.seeFavOnly);
    document.querySelectorAll(".x-talk-question-list-item").forEach((el) => {
      const questionId = parseInt(el.getAttribute("data-question-id"));
      el.classList.toggle("is-fav", state.favs.indexOf(questionId) >= 0);
    });
  }

  function saveState() {
    localStorage.setItem("fav_state", JSON.stringify(state));
  }

  function checkboxChangeHandler() {
    state.seeFavOnly = seeFavOnlyCheckbox.checked;

    saveState();
    render();
  }

  function setFav(el, value) {
    const questionId = parseInt(el.getAttribute("data-question-id"));

    const favIndex = state.favs.indexOf(questionId);
    if (favIndex >= 0 && !value) {
      state.favs.splice(favIndex, 1);
    }

    if (favIndex === -1 && value) {
      state.favs.push(questionId);
    }

    saveState();
    render();
  }

  render();

</script>
