# https://editorconfig.org
root = true

[**/*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space

[**/*.{py,html}]
indent_size = 4

[**/*.{css,ts,js,json,yaml,yml,sh}]
indent_size = 2

[**/Caddyfile]
indent_size = 8
