{
	admin off
	auto_https off
	servers {
		trusted_proxies static 0.0.0.0/0
	}
}

:{$VENUE_PORT_PREFIX}80
bind 0.0.0.0

handle_path /static/* {
	root * /app/static
	file_server

	@versioned_urls query v=*
  	header @versioned_urls Cache-Control "public, max-age=31536000, immutable"
}

handle_path /media/* {
	root * /w/media
	file_server
	header {
		Cache-Control "public, max-age=31560000, immutable"
	}
}

handle {
	reverse_proxy 127.0.0.1:{$VENUE_PORT_PREFIX}81
}
