{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'venue/style.css' %}">
</head>

<body>

    <header class="x-header">
        <div class="x-container">
            <a href="/">
                <h1>
                    {{ config.EVENT_NAME }}
                </h1>
            </a>
        </div>
    </header>

    <div class="x-container x-body">
        {% for message in messages %}
        <div class="x-talk-notification">
            {% include "venue/icons/check.svg" %}
            <span>{{ message }}</span>
        </div>
        {% endfor %}
        {% if user.is_authenticated %}
        <div class="x-admin-menu">
            <div class="x-admin-menu-left">
                {% block admin_menu %}{% endblock %}
            </div>
            <div class="x-admin-menu-right">
                <span class="x-admin-menu-item">Hello {{ user.username }}!</span>
                <a class="x-admin-menu-link" href="{% url 'logout' %}">Log out</a>
            </div>
        </div>
        {% endif %}
        {% block body %}{% endblock %}
    </div>

    <footer class="x-footer">
        <div class="x-container x-body">
            <span>
                {{ config.EVENT_NAME }}
            </span>
        </div>
    </footer>

</body>

</html>