{% load static %}
{% load venue %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'venue/style.css' %}">
    {% block meta %}{% endblock %}
    {% if config.EXTRA_CSS %}
        <style>{{ config.EXTRA_CSS|safe }}</style>
    {% endif %}
    {% if config.EXTRA_JS %}
        <script type="text/javascript">{{ config.EXTRA_JS|safe }}</script>
    {% endif %}
</head>

<body>

    <header class="x-header">
        <div class="x-container">
            {% if config.HEADER_IMAGE %}
            <a class="x-header-image" href="/">
                <img src="{% media_url config.HEADER_IMAGE %}" alt="{{ config.EVENT_NAME }}">
            </a>
            {% else %}
            <a class="x-header-title" href="/">
                <h1>{{ config.EVENT_NAME }}</h1>
            </a>
            {% endif %}
        </div>
    </header>

    <div class="x-container x-body">
        {% if user.is_authenticated %}
        <div class="x-admin-menu">
            <div class="x-admin-menu-left">
                {% block admin_menu %}{% endblock %}
            </div>
            <div class="x-admin-menu-right">
                <span class="x-admin-menu-item">Hello {{ user.username }}!</span>
                <a class="x-admin-menu-link" href="{% url 'logout' %}">Log out</a>
            </div>
        </div>
        {% endif %}
        {% for message in messages %}
        <div class="x-talk-notification {{ message.tags }}">
            <span class="icon success">{% include "venue/icons/check.svg" %}</span>
            <span>{{ message }}</span>
        </div>
        {% endfor %}
        {% block body %}{% endblock %}
    </div>

    <footer class="x-footer">
        <div class="x-container x-body">
            <span>
                {{ config.EVENT_NAME }}
            </span>
        </div>
    </footer>

</body>

</html>
