{% extends "venue/base.html" %}

{% block title %}{{ config.EVENT_NAME }}{% endblock %}

{% block body %}
{% if config.BEFORE_TALK_LIST != "<p></p>" %}
<div class="x-before-talk-list">
    {{ config.BEFORE_TALK_LIST|safe }}
</div>
{% endif %}

<div class="x-talk-list">

    {% for talk in talks %}
    <a class="x-talk-list-item {% if talk.rated %}is-rated{% endif %}" href="{% url 'talk' talk.slug %}"
        data-talk-slug="{{ talk.slug }}">
        <div class="x-talk-list-item-arrow">
            {% include "venue/icons/chevron-right.svg" %}
        </div>
        <h3 class="x-talk-list-item-title">
            {% include "venue/icons/check.svg" %}
            <span>{{ talk.name }}</span>
        </h3>
        <div class="x-talk-list-item-info">
            <span class="x-talk-list-item-info-speaker">
                {{ talk.speakers_names|join:', ' }}
            </span>
            {% if talk.track__name %}
            <span class="x-talk-list-item-info-track">
                {{ talk.track__name }}
            </span>
            {% endif %}
            {% if talk.display_date %}
            <span class="x-talk-list-item-info-when">
                {{ talk.date|date:'H:i' }}
            </span>
            {% endif %}
        </div>
    </a>
    {% endfor %}

</div>

{% if config.AFTER_TALK_LIST != "<p></p>" %}
<div class="x-after-talk-list">
    {{ config.AFTER_TALK_LIST|safe }}
</div>
{% endif %}
{% endblock %}
