{% extends "venue/base.html" %}
{% load static %}

{% block title %}{{ talk.name }} | {{ EVENT.name }}{% endblock %}

{% block body %}
<div class="x-talk">
    <section class="x-talk-section is-boxed">
        <h1 class="x-talk-title">
            {{ talk.name }}
        </h1>
        <div class="x-talk-info">
            <span class="x-talk-info-track">
                {{ talk.track__name }}
            </span>
            <span class="x-talk-info-when">
                {{ talk.date|date:'H:i' }}
            </span>
        </div>
        <div class="x-talk-description">
            <p>{{ talk.description }}</p>
        </div>
    </section>

    {% for speaker in talk.speakers %}
    <section class="x-talk-section x-talk-speaker">
        <div class="x-talk-speaker-image" style="background-image:url({% get_media_prefix %}{{ speaker.image }});;">
        </div>
        <div class="x-talk-speaker-info">
            <span class="x-talk-speaker-info-name">
                {{ speaker.name }}
            </span>
            <span class="x-talk-speaker-info-title">
                {{ speaker.title }}
            </span>
        </div>
    </section>
    {% endfor %}

    <section class="x-talk-section is-boxed">
        <h2 class="x-talk-section-title">Haz una pregunta</h2>
        <form action="{% url 'talk_question' talk.slug %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <textarea class="x-talk-textarea" name="question" maxlength="600"
                placeholder="¿Qué quieres preguntar?"></textarea>
            <input class="x-talk-button" type="submit" value="Enviar">
        </form>
    </section>

    <section class="x-talk-section is-boxed">
        <h2 class="x-talk-section-title">Valora la charla</h2>
        <form action="{% url 'talk_rating' talk.slug %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="x-stars">
                <label for="star-1">
                    {% include "venue/icons/star.svg" %}
                </label>
                <input id="star-1" type="radio" name="rating" value="1" checked="checked">
                <label for="star-2">
                    {% include "venue/icons/star.svg" %}
                </label>
                <input id="star-2" type="radio" name="rating" value="2" checked="checked">
                <label for="star-3">
                    {% include "venue/icons/star.svg" %}
                </label>
                <input id="star-3" type="radio" name="rating" value="3" checked="checked">
                <label for="star-4">
                    {% include "venue/icons/star.svg" %}
                </label>
                <input id="star-4" type="radio" name="rating" value="4">
                <label for="star-5">
                    {% include "venue/icons/star.svg" %}
                </label>
                <input id="star-5" type="radio" name="rating" value="5">
            </div>
            <textarea class="x-talk-textarea" name="comment" maxlength="600"
                placeholder="Deja un comentario... si lo ves oportuno :)"></textarea>
            <input class="x-talk-button" type="submit" value="Enviar">
        </form>
    </section>

</div>
{% endblock %}