<div class="bsr-talk">

    <% if (feedbackReceived) { %>
        <div class="bsr-talk-success">
            <% include ../partials/icons/check.html %>
            <span>¡Gracias por tu feedback!</span>
        </div>
    <% } %>

    <div class="bsr-talk-box">
        <h2 class="bsr-talk-title"><%= talk.name %></h2>
        <h3 class="bsr-talk-info">
            <span class="bsr-talk-track">TRACK <%= talk.track %></span>
            <span class="bsr-talk-when"><%= talk.when %></span>
        </h3>
        <p class="bsr-talk-description">
            <%- talk.description %>
        </p>
    </div>

    <div class="bsr-talk-speaker">
        <% if (talk.speakerImage) { %>
            <div class="bsr-talk-speaker-image" style="background-image: url(/static/speaker-images/<%= talk.speakerImage %>)"></div>
        <% } %>
        <div class="bsr-talk-speaker-info">
            <span class="bsr-talk-speaker-name"><%= talk.speaker %></span>
            <span class="bsr-talk-speaker-title"><%= talk.speakerTitle %></span>
        </div>
    </div>

    <% if (questionReceived) { %>
        <div class="bsr-talk-success" id="question">
            <% include ../partials/icons/check.html %>
            <span>¡Gracias por tu pregunta!</span>
        </div>
    <% } %>

    <div class="bsr-talk-box">
        <h2 class="bsr-talk-box-title">Haz una pregunta</h2>

        <form action="/talk/<%= talk.slug %>/question" method="POST">
            <!-- TODO: This shouldn't have 'feedback' in the class names. -->
            <textarea class="bsr-talk-feedback-comment" name="question" placeholder="¿Qué quieres preguntar?" maxlength="300"></textarea>
            <input class="bsr-talk-feedback-button" type="submit" value="Enviar">
        </form>
    </div>

    <% if (!feedbackReceived) { %>
        <div class="bsr-talk-box">
            <h2 class="bsr-talk-box-title">Valora la charla</h2>

            <form action="" method="POST">
                <div class="bsr-talk-feedback-stars">
                    <label for="rating-1"><% include ../partials/icons/star.html %></label><input type="radio" id="rating-1" name="rating" value="1">
                    <label for="rating-2"><% include ../partials/icons/star.html %></label><input type="radio" id="rating-2" name="rating" value="2">
                    <label for="rating-3"><% include ../partials/icons/star.html %></label><input type="radio" id="rating-3" name="rating" value="3" checked>
                    <label for="rating-4"><% include ../partials/icons/star.html %></label><input type="radio" id="rating-4" name="rating" value="4">
                    <label for="rating-5"><% include ../partials/icons/star.html %></label><input type="radio" id="rating-5" name="rating" value="5">
                </div>
        
                <textarea class="bsr-talk-feedback-comment" name="comment" placeholder="Deja un comentario... si lo ves oportuno :)" maxlength="300"></textarea>
        
                <input class="bsr-talk-feedback-button" type="submit" value="Enviar">
            </form>

        </div>
    <% } %>

</div>

<%- contentFor('head') %>
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="<%= config.twitter %>" />
<meta name="twitter:title" content="Valora la charla de <%= talk.speaker %>" />
<meta name="twitter:description" content="<%= talk.name %> - ¡Dame feedback!" />
<meta name="twitter:image" content="<%= config.baseUrl %>/static/speaker-images/<%= talk.speakerImage %>" />
<title><%= talk.name %> - <%= config.title %> Feedback</title>
