<% layout('./_base.html', { title: include("brand-name") }) %>

<div class="x-talk-list">

  <% for(const talk of it.talks) { %>
    <a class="x-talk-list-item<%= talk.rated != null ? ' is-rated' : '' %>" href="/talk/<%= talk.slug %>">
      <div class="x-talk-list-item-arrow">
        <%~ includeFile('./icons/chevron-right.svg') %>
      </div>
      <h3 class="x-talk-list-item-title">
        <%~ includeFile('./icons/check.svg') %>
        <span><%= talk.name %></span>
      </h3>
      <div class="x-talk-list-item-info">
        <span class="x-talk-list-item-info-speaker">
          <%= talk.speaker_name %>
        </span>
        <span class="x-talk-list-item-info-track">
          <%= talk.track %>
        </span>
        <span class="x-talk-list-item-info-when">
          <%= `${talk.date.getUTCHours()}:${talk.date.getUTCMinutes()}` %>
        </span>
      </div>
    </a>
  <% } %>

</div>
