<% layout('./_base.html', {
  title: `Ratings | ${it.talk.name} | ${include("brand-name")}`
}) %>

<div class="x-talk">

  <section class="x-talk-section is-boxed">
    <h1 class="x-talk-title"><%= it.talk.name %></h1>
    <div class="x-talk-info">
      <span class="x-talk-info-track">
        <%= it.talk.track %>
      </span>
      <span class="x-talk-info-when">
        <%= `${it.talk.date.getUTCHours()}:${it.talk.date.getUTCMinutes().toString().padEnd(2,'0')}` %>
      </span>
    </div>
  </section>

  <section class="x-talk-section">
    <div class="x-talk-rating">
      <% const maxStars = 5; %>

      <div class="x-talk-rating-stars">
        <div class="x-talk-rating-stars-numbers">
          <% for(let i = 1; i <= maxStars; i++) { %>
            <span><%= it.ratings.filter((r) => r.rating === i).length %></span>
          <% } %>
        </div>
        <div class="x-talk-rating-stars-bars">
          <% for(let i = 1; i <= maxStars; i++) { %>
            <div>
              <% for(let x = 0; x < i; x++) { %>
                <%~ includeFile('./icons/star.svg') %>
              <% } %>
            </div>
          <% } %>
        </div>
      </div>

      <div class="x-talk-rating-average">
        <% const average = it.ratings.length === 0 ? '--' : it.ratings
            .map((r) => r.rating)
            .reduce((a, b) => a + b, 0) / it.ratings.length; %>
        <span class="x-talk-rating-average-value"><%= Math.floor(average * 100) / 100 %></span><span class="x-talk-rating-average-max">/<%= maxStars %></span>
      </div>

    </div>
  </section>

  <section class="x-talk-section is-boxed">
    <h2 class="x-talk-section-title">
      Comentarios
    </h2>

    <p class="x-talk-section-advice">A continuación aparecen todos los comentarios que la gente ha puesto acompañando a la nota de la charla. Por desgracia, a veces hay que lidiar con los comentarios de personas que no tienen sus capacidades sociales del todo desarrolladas, que son incapaces de valorar el esfuerzo de los demás, o que simplemente son tóxicas.</p>
    <p class="x-talk-section-advice">Coge aire, tómatelo con calma, y recuerda que si te hemos llamado para participar es por algo. Nos ha encantado tenerte por aquí.</p>

    <% for(const rating of it.ratings) { %>
      <div class="x-talk-comment">
        <p><%= rating.comment %> — <span class="x-talk-comment-stars"><%= rating.rating %><%~ includeFile('./icons/star.svg') %></span></p>
      </div>
    <% } %>

  </section>

</div>
