$primary-color: #FF3654;
$secondary-color: #0a203a;
$accent-color: $primary-color;
$text-color: #0a203a;
$background-color: #f7f8f8;
$highlight-color: #d09d2e49;

$global-font: "Montserrat", Tahoma, Geneva, Verdana, sans-serif;
$monospace-font: monospace;

$roundness: 0;
