$primary-color: #7d0cff;
$secondary-color: #131211;
$accent-color: $primary-color;
$text-color: #333;
$background-color: #F4F0EC;
$highlight-color: #d09d2e49;

$global-font: "IBM Plex Sans", sans-serif;
$monospace-font: "IBM Plex Mono", monospace;

$roundness: 0;
