:root {
  --primary-color: #542836;
  --accent-color: #d09c2e;
  --bright-text-color: white;
  --dark-text-color: #333;
  --background-color: #eeeced;
  --bright-background-color: white;

  --base-margin: 10px;

  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --max-width: 800px;
  --navbar-height: 60px;
}

body {
  background-color: var(--background-color);
  font-family: var(--font-family);
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* CONTAINER */
.x-container {
  display: block;
  margin: auto;
  max-width: var(--max-width);
}

/* BODY */
.x-body {
  padding: 0 var(--base-margin);
}

/* HEADER */
.x-header {
  background-color: var(--primary-color);
  height: var(--navbar-height);
  display: flex;
  justify-content: center;
  align-items: center;
}
.x-header h1 {
  color: var(--bright-text-color);
  margin: 0;
}
.x-header a {
  text-decoration: none;
}

/* FOOTER */
.x-footer {
  color: var(--primary-color);
  padding: calc(var(--base-margin) * 2.5) 0;
  text-align: center;
  flex-shrink: 0;
}

/* TALK LIST */
.x-talk-list-item {
  --padding: 0.8em;
  --right-padding-multiplier: 3;

  text-decoration: none;
  color: inherit;
  display: block;
  position: relative;
  background-color: var(--bright-background-color);
  padding: var(--padding) calc(var(--padding) * var(--right-padding-multiplier))
    var(--padding) calc(var(--padding) * 1.2);
  margin-top: var(--base-margin);
}
.x-talk-list-item-arrow {
  position: absolute;
  right: calc(var(--padding) * (var(--right-padding-multiplier) / 2));
  top: 50%;
  transform: translateY(-50%) translateX(50%);
}
.x-talk-list-item-arrow svg {
  fill: var(--accent-color);
  height: 0.88em;
  width: auto;
}
.x-talk-list-item-title {
  margin: 0 0 0.4em 0;
  color: var(--primary-color);
  font-size: 1.3em;
}
.x-talk-list-item-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.x-talk-list-item-info-speaker {
  color: var(--accent-color);
  font-style: italic;
  flex-grow: 1;
}
.x-talk-list-item-info-speaker,
.x-talk-list-item-info-track,
.x-talk-list-item-info-when {
  font-size: 1em;
  font-weight: 700;
  white-space: nowrap;
}
.x-talk-list-item-info-track {
  color: var(--accent-color);
  margin: 0 0.6em;
}
.x-talk-list-item-info-when {
  color: var(--primary-color);
}

/* TALK */
.x-talk-notification {
  padding: calc(var(--base-margin) * 1.5);
  margin-top: var(--base-margin);
  background-color: var(--accent-color);
  color: var(--bright-text-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.x-talk-notification svg {
  width: 20px;
  height: auto;
  fill: var(--bright-text-color);
  margin-right: var(--base-margin);
}
.x-talk-section {
  --padding: 1em;

  padding: var(--padding);
  margin-top: var(--base-margin);
}
.x-talk-section-title {
  font-size: 1.3em;
  color: var(--primary-color);
  margin: 0 0 var(--base-margin) 0;
  font-weight: normal;
}
.x-talk-section.is-boxed {
  background-color: white;
}
.x-talk-title {
  font-size: 1.7em;
  line-height: 1em;
  font-weight: 700;
  margin: 0;
  color: var(--primary-color);
}
.x-talk-info {
  margin-top: var(--base-margin);
}
.x-talk-info-track,
.x-talk-info-when {
  font-size: 1em;
  font-weight: 700;
  white-space: nowrap;
}
.x-talk-info-track {
  color: var(--accent-color);
  margin: 0 0.6em 0 0;
}
.x-talk-description {
  line-height: 1.4em;
  color: var(--dark-text-color);
}
.x-talk-description > p {
  margin: var(--base-margin) 0 0 0;
}
.x-talk-speaker {
  display: flex;
  justify-content: center;
  align-items: center;
}
.x-talk-speaker-image {
  flex-shrink: 0;
  flex-grow: 0;
  width: 100px;
  height: 100px;
  margin-right: 1em;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.x-talk-speaker-info {
  flex-grow: 1;
}
.x-talk-speaker-info-name {
  display: block;
  font-size: 1.4em;
  line-height: 1em;
  font-weight: bold;
  color: var(--primary-color);
}
.x-talk-speaker-info-title {
  margin: 0.5em 0 0 0;
  display: inline-block;
  line-height: 1.42;
  color: var(--primary-color);
}
.x-talk-textarea {
  display: block;
  margin: auto;
  width: 100%;
  max-width: calc(var(--max-width) * 0.375);
  resize: none;
  height: calc(var(--max-width) * 0.1875);
  border-color: rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 1px;
  font-size: 1.2em;
  padding: calc(var(--base-margin) * 1.5);
  box-sizing: border-box;
}
.x-talk-button {
  appearance: none;
  -moz-appearance: none;
  width: 100%;
  max-width: calc(var(--max-width) * 0.375);
  margin: var(--base-margin) auto 0 auto;
  display: block;
  font-size: 1.3em;
  background-color: var(--accent-color);
  color: var(--bright-text-color);
  border: none;
  padding: 0.4em;
  cursor: pointer;
}

/* STARS */
.x-stars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: calc(var(--max-width) * 0.375);
  margin: var(--base-margin) auto;
}
.x-stars > label {
  cursor: pointer;
}
.x-stars > label > svg {
  width: 2.5em;
  height: 2.5em;
  fill: var(--accent-color);
}
.x-stars > input {
  display: none;
}
.x-stars > input:checked ~ label > svg {
  fill: rgba(0, 0, 0, 0.05);
}
